body{
    margin: 0 15%;
    }
h1{
    margin: 15% 0 0;
    color: #7C9;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    }
h2{
    margin: 0 0 0 5%;
    color: #273;
    font-size: 85%;
    }
table{
    border-collapse: separate;
    border-spacing: 10px;
    }
td{
    text-align: right;    
    border-bottom: 2px dashed #567;
    }
th{
    position: relative;
    width: 2em;
    height: 11em;
    text-align: left;
}    
.box_rotate {
    -webkit-transform: rotate(-30deg);  
    -moz-transform: rotate(-30deg);  
    -ms-transform: rotate(-30deg);  
    -o-transform: rotate(-30deg);  
    transform: rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(
         M11=0.8660254037844387, M12=0.49999999999999994, M21=-0.49999999999999994, M22=0.8660254037844387, sizingMethod='auto expand');
    zoom: 1;
    position: absolute;
    width: 20em;
}

