<!DOCTYPE HTML>
<html>
  <head>
    <title> Game History | Not LandGrab </title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/history.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/g/raphael-min.js"></script>
    <script type="text/javascript" src="/media/js/g/g.raphael.js"></script>
    <script type="text/javascript" src="/media/js/g/g.line.js"></script>
        <script>
            window.onload = function () {
                var r = Raphael("r-chart"),
                    txtattr = { font: "12px sans-serif" };
                
                var x = [{% for t in totals.keys %}{{ t }}, {% endfor %}];
                var l = [{% for p in graph_data.keys %}'{{ p }}', {% endfor %}];
                var colors = [{% for c in colors %}'{{ c }}', {% endfor %}];
                var num_colors = colors.length
                var y = {};
                {% for player, data in graph_data.iteritems %}
                    y['{{ player }}'] = [{% for item in data %}{{ item }},{% endfor %}]; 
                {% endfor %} 
                r.text(160, 10, "troop count by turn").attr(txtattr);

                r.linechart(10, 10, 
                    800, 342, 
                    x, [{% for player in graph_data.keys %}y['{{ player }}'],{% endfor %}],
                    {'colors':colors}
                ).hoverColumn(function () {
                    this.tags = r.set();
                    for (var i = 0, ii = this.y.length; i < ii; i++) {
                        if($('path').eq(i).css('display') != 'none'){
                            this.tags.push(
                                r.tag(this.x, this.y[i], l[i], 160, 10).insertBefore(this).attr([{ fill: "#fff" }, { fill: $("path").eq(i).attr("stroke")}])
                            );
                        }
                    }
                }, function () {
                    this.tags && this.tags.remove();
                });
                // hack to fix hover. TODO: make this unneccisary
                rects = document.getElementsByTagName("rect");
                w = 800 / x.length
                for (i=0; i<rects.length; i++){
                    rects[i].setAttribute('width', w);
                } 
                $('th').not(':first-child').each(function(){
                    $(this).css('color',colors[$(this).index() -1]);
                });
                // visibility toggle logic
                $('path').toggle(function(){
                    $(this).hide()
                    $('th').eq($(this).index()-2).css('opacity', '0.3');
                }, function(){
                    $(this).show()
                    $('th').eq($(this).index()-2).css('opacity', '1');
                });
                $('th').not(':first-child').find('span').click(function(){
                    $('path').eq($(this).parent().index()-1).click()
                });
                $('th').not(':first-child').find('span').hover(function(){
                    $(this).css('text-shadow', '1px 1px 1px #ABAAA5')
                },function(){
                    $(this).css('text-shadow','none')
                });
            };
        </script>
  </head>
  <body>
    <header>
        <h1>Game History</h1>
        <h2>Not Landgrab</h2>
    </header>{% autoescape off %}
    <p class='message'>{{ message }}</p>
    {% if totals %}
    <div id="r-chart">
    </div>
    <table class="history data">
        <thead>
        <th> <span class="box_rotate">Turn</span> </th>
        {% for player in players %}
            <th> <span class="box_rotate">{{ player }}</span> </th>
        {% endfor %}
        </thead>
        {% for turn, data in totals.iteritems %}
        <tr>
        <td>{{ turn }}</td>
            {% for player, total in data.iteritems %}
            <td>{{ total }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %} 
    <p>Enter a game number to see the history</p>
    <form action="/landgrab/history" method="get">
        <input type="text" name="game"></input>
        <input type="submit" value="go"></input>
    </form>{% endautoescape %}
  </body>
</html>
