<!DOCTYPE HTML>
<html>
  <head>
    <title> Death Grid | Not LandGrab </title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  </head>
  <body>
    <header>
        <h1>Game Stats</h1>
        <h2>Not Landgrab</h2>
    </header>{% autoescape off %}
    <p class='message'>{{ message }}</p>
    {% for page in pages %}
    <p>Enter a game number to see a {{ page }}</p>
    <form action="/landgrab/{{ page }}" method="get">
        <input type="text" name="game"></input>
        {% if page == "history" %} <input type="checkbox" name="percent">percent</input> {% endif %}
        <input type="submit" value="go"></input>
    </form>
    {% endfor %}
    {% endautoescape %}
  </body>
</html>
