<!DOCTYPE HTML>
<html>
  <head>
    <title> Game History | Not LandGrab </title>
    <link rel="stylesheet" type="text/css" href="/media/css/deathgrid.css" />
    <script type="text/javascript" src="/media/js/g/raphael-min.js"></script>
    <script type="text/javascript" src="/media/js/g/g.raphael.js"></script>
    <script type="text/javascript" src="/media/js/g/g.line.js"></script>
        <script>
            window.onload = function () {
                var r = Raphael("r-chart"),
                    txtattr = { font: "12px sans-serif" };
                
                var x = [{% for t in totals.keys %}{{ t }}, {% endfor %}];
                var y = {};
                {% for player, data in graph_data.iteritems %}
                    y['{{ player }}'] = [{% for item in data %}{{ item }},{% endfor %}]; 
                {% endfor %} 
                r.text(160, 10, "Simple Line Chart (1000 points)").attr(txtattr);
                r.text(480, 10, "shade = true (10,000 points)").attr(txtattr);;
                r.text(160, 250, "shade = true & nostroke = true (1,000,000 points)").attr(txtattr);
                r.text(480, 250, "Symbols, axis and hover effect").attr(txtattr);

                r.linechart(10, 10, 300, 220, x, [{% for player in players %}y['{{ player }}'],{% endfor %}]).hoverColumn(function () {
                    this.set = r.set(
                      {% for player in players %}
                        r.circle(this.x, this.y['{{ player }}']){% if not forloop.last %},{% endif %}
                      {% endfor %}
                    );
                }, function () {
                    this.set.remove();
                });
            };
        </script>
  </head>
  <body>
    <header>
        <h1>Game History</h1>
        <h2>Not Landgrab</h2>
    </header>{% autoescape off %}
    <p class='message'>{{ message }}</p>
    {% if totals %}
    <div id="r-chart">
    </div>
    <table class="history data">
        <thead>
        <th>Turn</th>
        {% for player in players %}
            <th>{{ player }}</th>
        {% endfor %}
        </thead>
        {% for turn, data in totals.iteritems %}
        <tr>
        <td>{{ turn }}</td>
            {% for player, total in data.iteritems %}
            <td>{{ total }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %} 
    <p>Enter a game number to see the history</p>
    <form action="/landgrab/history" method="get">
        <input type="text" name="game"></input>
        <input type="submit" value="go"></input>
    </form>{% endautoescape %}
  </body>
</html>
